#container{
    max-width: 1700px;
    background-color: white;
    margin: auto;
    padding: 25px;
    height: 100%;
}
#text{
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
div + p{
    text-align: left;
}
#personnal{
    margin-top: 50px;
    position: relative;
    height: 25%;
}
.imageHolder{
        border-radius: 100%;
        width: 250px;
        height: 250px;
        overflow: hidden;
        margin: auto;
        margin-top: 10px;
}
.name{
    width: 100%;
    text-align: center;
}
.description{
    font-size: 25px;
    text-align: center;
}
.presentation{
    height: 700px;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
    left: 50%;
}
#pres2{
    transform: translateX(-50%);
}
#pres1{
    transform: translateX(-55%);
}
#conclusion{
    position: relative;
    margin-top: 400px;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 
    #container{
        height: 100%;
    }
    #text{
        font-size: 22px;
    }
    #personnal{
    margin-top: 50px;
    height: 20%;
    }
    .description{
    font-size: 18px;
    text-align: center;
    padding-left: 15px;padding-right: 15px;
    margin-top: -15px;
    }
    .presentation{
        height: 580px;
    }
    .imageHolder{
        width: 225px;
        height: 225px;
}
}