#blogCol{
    margin: auto;
    margin-top: -20px;
}
.blogRow{
    margin-top: 100px;
    width: 100%;

}
.articleImg{
    width: 100%;    
}

.article{
    width: 90%;
}
.articleTitle{
    font-size: 15px;
}
.category{
    font-size: 18px;
}