#blogCol{
    margin-left: -10px;
    margin-right: 10px;
}
.blogRow{
    margin-top: 100px;
    width: 100%;

}
.articleImg{
    width: 100%;    
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 
    .blogRow{
        margin-top: 50px;
    }
    .articleImg{
        height:250px
    }

}