#content2{
    z-index: 900;
    font-size: 40px;
    height: 200%;
    margin: auto;
    margin-top: 70px;
    max-width: none
}
#announcer{
    background-color: #EDEDED;
    height: 30%;
    width: 100%;
    margin-top: -70px;
    margin-left: 0;
    margin-right: 0;
}
#archiveList{
    margin: auto;
    height: 100%;
    background-color: white;
    padding-top: 40px;
    box-shadow: 0px 1px 5px black;

}
#archiveInner{
    text-align: center;
    margin: auto;
    max-width: 1200px;
    
}
.preview{
    width: 150px;
    box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
}
.numberTitle{
    font-size: 30px;
    color: black;

}
.numberTitle:hover{
    color: black;
}
#announcerContent{
    border: 3px solid black;
    height: 80%;
    margin: auto;
    width: 1000px;

}
#announcerCover{
    height: 100%;
    float: left;
}
.wtf{
    border: 5px solid black;
}
#sommaire{
    font-size: 20px;
}