#page{
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: #FAFAFA;
}
#content{
    z-index: 900;
    font-size: 40px;
    margin: auto;
    height: auto;
    margin-top: 40px;
    max-width: 1700px;
    margin-bottom: 40px;
}

.articleBody{
    margin-left: 10px;
    margin-right: 10px;

}
.category{
    font-size: 25px;
    text-decoration: underline;
    color: grey;
    width: 100%;
    text-align: left;
}
.articleTitle{
    font-size: 22px;
    margin-top: -10px;
    color: black;
}
.articleTitle:hover{
    text-decoration: underline black;
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 
    #content{
        height: auto;
        max-width: 1150px;
    }
    .articleTitle{
    font-size: 17px;
    margin-top: -10px;
    color: black;
}
}