@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 
    #carouselExampleControls{
        max-height: 600px;
    }
    #lastCarousel{
        background-color: white;
        max-height: 800px;
        max-width: 800px;
    }
    #header{
        height: 60%;
    }
    .imgHeader{
        height: 80%;
    }
    .nav-link{
    border: solid 2px black;
    margin-bottom: 0px;
    font-size: 28px;
    margin-top: -12px;
    }
    #content{
        margin-left: 60px;
        margin-right: 60px;
    }
}