#container{
    max-width: 1700px;
    background-color: white;
    margin: auto;
    padding: 25px;
    height: 130%;
}
#text{
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
p{
    text-align: left;
}
#personnal{
    margin-top: 70px;
    position: relative;
    height: 25%;
}
.imageHolder{
    border-radius: 100%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: auto
}
.name{
    width: 100%;
    text-align: center;
}
.description{
    font-size: 25px;
    text-align: center;
}
.presentation{
    height: 80%;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
    left: 50%;
    animation-fill-mode: forwards;
}
#pres2{
    top: 80px;
    z-index: 1;
    transform: translateX(-50%);
}
#pres1{
    z-index: 2;
    transform: translateX(-55%);
}
#conclusion{
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}